<div class="s-pdp">

</div>

{% schema %}
{
  "name": "PDP",
  "settings": [
    {
      "type": "header",
      "content": "Section Settings"
    },
    {
      "id": "section_top-padding",
      "label": "Top padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "id": "section_bottom-padding",
      "label": "Bottom padding",
      "type": "range",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 0
    },
    {
      "id": "section_top-padding_mobile",
      "label": "Top padding (Mobile)",
      "type": "range",
      "min": 0,
      "max": 90,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "id": "section_bottom-padding_mobile",
      "label": "Bottom padding (Mobile)",
      "type": "range",
      "min": 0,
      "max": 90,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}